* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  body {
      font-family:  'Montserrat', sans-serif;
  }
  .center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
  
  

  .header {
    box-sizing: border-box;
    border-bottom: #292727;
    padding-top: 10px;
    width: 100%;
    background-image: url(img/Rectangle\ 1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 1024px;
  
    &_bottom {
      border-bottom: 2px solid rgba(0, 0, 0, 0.8);
      transition: 0.3s linear;
    }
    &_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        padding-top: 218px;
        padding-bottom: 32px;
        padding-right: 500px;
    }
    &_p {
        padding-right: 700px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        padding-bottom: 45px;
    }
    &_button {
      border: 1px solid #9C0332;
      box-sizing: border-box;
      background: #9C0332;
      border-radius: 30px;
      width: 235px;
      height: 48px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 18px;
      color: #ffffff;
      transition: all 0.3s;
    }
    &_button:hover {
        transform: scale(1.05);
        border: 1px #292727;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 20px rgb(255, 255, 255);
        box-shadow: 5px 5px 5px #AFA4A6;
    }
}
  .main {
    background-image: url(img/Rectangle\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 2156px;

    &_game1 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 59px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      padding-top: 218px;
      padding-bottom: 32px;
      
    }

  &_img {
    background-image: url(img/img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 485px;
    height: 333px;
  }
  &_img2 {
    background-image: url(img/img2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 485px;
    height: 333px;
  }
  &_p {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 32px;
      display: flex;
      align-items: center;
      color: #FFFFFF;        padding-bottom: 45px;
  }
  
  }
  .for {
    padding-top: 128px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 32px;
    transition: all 0.3s;

    &_2 {
      margin-top: 200px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 100px;
    }

    &_item {
        height: 300px;
        width: 379px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;
        color: #FFFFFF;
        box-sizing: border-box;
        transition: all 0.3s;
        transition: 0.3s linear;
        border-radius: 16px;
    }
    &_item_1 {
        background-image: url(img/Rectangle\ 6.jpg);
    }
    &_item_2 {
        background-image: url(img/Rectangle\ 7.jpg);
    }
    &_item_3 {
        background-image: url(img/Rectangle\ 8.jpg);
    }
    &_item:hover {
      border: none;
      transform: scale(1.05);
      box-shadow: 5px 5px 5px #AFA4A6;
      border: 1px #292727;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 20px rgb(255, 255, 255);
      box-shadow: 5px 5px 5px #AFA4A6;
    }
  }
  @media (max-width: 767px) {
    .center {
      padding-left: 16px;
      padding-right: 16px;
    }
    
    .header {
      max-width: 100%;
      background-image: url(img/Rectangle\ 1.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 735px;

    &_title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    &_p {
      width: 100%;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: 22px;
      display: flex;
      align-items: center;
      text-align: center;
  }
    }
  .for {
    flex-wrap: wrap;
  }
}
  
  